* {
    min-width: 0;
}

body {
    background-color: black;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1,
h2 {
    color: white;
    /* color: black; */
    font-family: sans-serif;
    max-width: 60vw;
    text-align: center;
}

p {
    color: white;
    /* color: black; */
    font-family: sans-serif;
    max-width: 75vw;
}